<% provide(:title, 'Domains') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Domains
      </h1>
    </section>
    <%= link_to "Add new domain", new_domain_path %>
  </aside>

  <div class="col-md-12">

    <% @domains.each do |d| %>
      <%= d.domain_name %><br>
        <%= d.description %><br>
        <%= d.authentication_token %><br>
        <p>
          <%= link_to "Delete", d, :data => {:confirm => "Are you sure?"}, :method => :delete %>
        </p>
    <% end %>

  </div>
</div>
